div {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background-image: url('img/hero-bg.png');

}
.btn{
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
   
    
}
header {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    
}
.logo {

  padding-left: 0px;
}
ul {
   display: flex;
   list-style: none;
   gap: 70px;
   align-items: center;
   font-size: 20px;
   text-decoration: none;

}

#ban {
    height:676px;
    width: 1536px;
    justify-items: center;
    padding-top: 120px;
}
#ban .early {

    color: green;
    border-radius: 10px;
    padding: 5px 10px;
}

#ban .h2 {
    color: white;
    padding-top: 10px;
    font-size: 30px;
}
#ban .not {
    color: green;
    font-size:70px;
  
}
#ban p {
    color: white;
    font-size:20px ;
}
section .start {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    padding-top: 10px;
    margin-top: 20px; 
    

}


section .see {
    color: white;
    padding:10px 20px ;
    background-color:transparent;
    border-radius: 6px ;
    border-color: white;
    margin-top: 21px ;
    
}
#note {
background:rgb(222, 202, 202);
height: 400px;
width: 1536px;
margin: 0 auto;
}

.doroi { 
   padding: 30px 450px 8px;
   font-size: 18px;
}
.dorse {
   padding: 0px 460px ;
   font-size: 13px;
}



#note .notecardfull {
  gap: 30px;
  display:flex;
} 

.notecard {
   padding:70px ;
   padding-left: 30px;
}

.light {
background: none;
height: 840px;
width: 1536px;
padding:120px 120px 120px;
margin: 0 auto;
}

.sob {
    background: none;
}
.sob .choto {
    padding: 20px 50px 10px;
   font-size: 10px;
   color: green;
}
.bold {
    font-size: 25px;
    padding: 0px 50px 10px;
    
} 
.par {
    padding: 0px 50px 40px;
}
.lastli {
    display: inline;

}
 
.lastli li{
    padding-left: 50px;
}



 